extends ../layout

block content
  .page-header
    h3 List: #{title}
    p show-list.pug

  .row
    //p List name: #{listName}
    //p List Id: #{listId}
    //p List number: #{listNumber}
    form.form-horizontal(action="/account/list/additem/" + listId, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-2.control-label(for='add-item') Add item
        .col-sm-8
          input.form-control(type='text', name='itemName', id='itemName')
      .form-group
        .col-sm-offset-2.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Add item

    .col-xs-offset-2.col-xs-4
      h4.margin-bottom-24 #{title}
      each item in listItems
        p.pick-toggle.pull-left.green-text.not-got-it #{item.name}
        form.form-horizontal(action="/account/list/deleteitem/" + listId, method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            col-sm-4
             input(type='hidden', name='name' value=item.timeStampId)
             button.btn.btn-to-link.pull-right(type='submit')
               | Delete Item
