extends ../layout

block content
  .title-header
    h3.pull-left.margin-0.margin-left-15 #{title}
  .row
    .col-xs-12
      a(href="#" onclick="javascript:window.location='mailto:?subject=A List Zapper list for you&body=A list for you: ' + window.location;")
        button.btn.btn-primary.pull-left.margin-r-10
          i.fa.fa-envelope
          | Email
      a(href="https://twitter.com/share" data-show-count="false")
        button.btn.btn-primary.pull-left.margin-r-10
          i.fa.fa-twitter
          | Tweet
      script.
        async src="//platform.twitter.com/widgets.js" charset="utf-8"
      #shareBtn.btn.btn-primary.clearfix
        i.fa.fa-facebook
        | Share
      script.
        document.getElementById('shareBtn').onclick=function(){          
          FB.ui({
          method: 'feed',
          name: 'List Zapper list',
          link: document.location.href,
          caption: document.title,
          description: 'A list of items from List Zapper'
          }, function(response){});
        }
  .row
    .col-xs-12.margin-top-15
      form.form-horizontal#addItemForm(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-2.control-label(for='add-item') New item
          .col-sm-8
            input.form-control(type='text', name='itemName', id='itemName')
        .form-group
          .col-sm-offset-2.col-sm-4
            button#addItemButton.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Add
  .row
    .col-xs-12
      //h4.margin-bottom-24 show-list.pug
      each item in listItems
        .row.show-list-row
          .col-md-offset-2.col-md-4.col-xs-12
            form.pull-left.form-horizontal.updateItemForm(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                col-sm-4
                 input(type='hidden', class='name' name=item.name value=item.name)
                 input(type='hidden', class='itemId' name='itemId' value=item._id)
                 input(type='hidden', class='isPickedInput' name='isPickedInput' value=item.isPicked)
                 button.updateItemLinks.btn.btn-to-link-item.pull-right.pick-toggle.pull-left(type='submit' class='isPicked' + item.isPicked)
                   | #{item.name}

            form.pull-right.form-horizontal.deleteItemForm(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                col-sm-4
                 input(type='hidden', class='itemId' name='itemId' value=item._id)
                 button.btn.btn-to-link.pull-right(type='submit')
                   | Delete Item
